{% extends "base.html" %}

{% block title %}Vota{% endblock %}

{% block content %}
  <h1>{{ question.question_text }}</h1>
  {% if error_message %}
  <div class="alert">
    <p>{{ error_message }}</p>
  </div>
  {% endif %}
  <form method="post">
    <!-- Para proteger los datos y además de que no servirá el formulario -->
    {% csrf_token %}
    {% for c in question.choice_set.all %}
    <input type="radio" name="choice" id="c_{{ c.id }}" value="{{ c.id }}">
    <label for="{{ c.id }}">{{ c.choice_text }}</label>
    {% endfor %}
    <input type="submit" value="Votar">
  </form>

{% endblock %}